body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: #161a50;
    color: white;
    text-align: center;
    padding: 15px;
    border-width: 5px;
}

.navbar {
    background: #333333;
    overflow: hidden;
    text-align: center; 
    border-width: 3px; 
    padding: 10px 0;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block; 
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.sidebar {
    float: left;
    width: 15%;
    background: #f4f4f4;
    padding: 15px;
    height: auto;
    border: solid 1px #333333;
    border-radius: 5%;
    margin: 10px;
}

.content {
    border: solid 1px #333333;
    background: #f4f4f4;
    float: left;
    width: 77%;
    height: auto;
    padding: 15px;
    margin: 10px;
    border-radius: 3%;
}

.footer {
  position: fixed;   
  left: 0;           
  bottom: 0;         
  width: 100%;       
  background: #333;  
  color: white;
  text-align: center;
  padding: 10px;
}
